@import url('./reset.css');

/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v51-latin/roboto-v51-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v51-latin/roboto-v51-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/roboto-v51-latin/roboto-v51-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v51-latin/roboto-v51-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/roboto-v51-latin/roboto-v51-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --slate-blue: #1992d4;
    --slate-orange: #f0b429;
    --slate-gray: #e2e8f0;
    --slate-gray-700: #909090;
    --slate-gray-800: #e2e8f0;
    --white: #fff;

    --sidebar-bg-color: var(--slate-blue);
    --sidebar-icon-color: var(--white);

    --base-font: 'Roboto';

    --header-bg: var(--white);
    --header-input-bg: var(--slate-gray-700);

    --main-setion-bg: var(--slate-gray-700);

    --card-bg: var(--white);
    --card-desc-color: var(--slate-gray-700);

}

body {
    font-family: var(--base-font), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container {
    display: grid;
    grid-template-columns: .5fr 3fr;
}

svg {
    width: calc(24 / 16 * 1rem);
}
/* ======================================================================= */
/* =========================== SIDEBAR =================================== */
/* ======================================================================= */

.sidebar {
    display: grid;
    gap: 50px;
    background-color: var(--sidebar-bg-color);
    color: var(--sidebar-bg-color);
    text-decoration: none;
    padding: 15px;
    grid-row: 1 / 3;
    grid-column: 1
}

.sidebar svg {
    fill: var(--white);
}

.sidebar a {
    text-decoration: none;
    color: var(--white);
}

.sidebar > .sidebar__heading, .sub-menu {
    display: grid;
}

/* =========================== HEADING ==================================== */

.sidebar__heading {
    grid-template-columns: 4rem 1fr;

    & span {
        font-size: calc(30 / 16 * 1rem);
        font-weight: 600;
        align-self: center;
    }

    & svg {
        width: 3rem;
        height: 3rem;
    }
}

.sidebar__sub-menu1, .sidebar__sub-menu2{
    grid-template-columns: 1fr;
    padding: 10px;
    gap: 15px;

    & div {
        display: grid;
        grid-template-columns: 3rem 1fr;

        & a {
            font-weight: 700;
            font-size: calc(20 / 16 * 1rem);
        }

        & svg {
            align-self: center;
        }
    }
}

/* ======================================================================= */
/* =========================== HEADER ==================================== */
/* ======================================================================= */

.header {
    grid-column: 2 / 3;
    grid-row: 1;

    display: grid;
    gap: 25px;

    background-color: var(--header-bg);
    box-shadow: 0px 9px 6px -1px rgba(0, 0, 0, 0.1);
    padding: 15px 30px;   


    & img {
        border-radius: 50%;
    }

    & .header__top {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: calc(100 / 16 * 1rem);

        & .top__search, svg {
            align-self: center;
        }
        & .top__search {
            align-self: center;

            display: grid;
            grid-template-columns: 3rem 1fr;

            & svg {
                align-self: center;
            }

            & input {
                border: 1px solid var(--slate-gray-800);
                background-color: var(--slate-gray-800);
                border-radius: 20px;
                padding: 5px;
            }
        }

        & .top__user_info {

            display: grid;
            /* grid-template-columns: .4fr .5fr 1fr; */
            grid-auto-flow: column;
            gap: calc(10 / 16 * 1rem);
            place-items: center;

            & p {
                font-weight: 600;
                font-size: calc(18 / 16 * 1rem);
            }
        }

    }

    & .header__bottom {
        display: grid;
        grid-template-columns: 2fr 1fr;

        & .bottom__user_info {
            display: grid;
            grid-template-columns: calc(60 / 16 * 1rem) 1fr;
            gap: calc(20 / 16 * 1rem);



            & img, .user_info_display {
                align-self: center;
            }

            & img {
                width: calc(60 / 16 * 1rem);
                height: calc(60 / 16 * 1rem);
            }

            & .user_info_display{
                & span {
                    font-size: calc(13 / 16 * 1rem);
                    font-weight: 600;
                }

                & p {
                    font-size: calc(20 / 16 * 1rem);
                    font-weight: 700;
                }
            }
        }

        & .bottom__action_btn {
            align-self: center;

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: calc(18 / 16 * 1rem);

            & button {
                background-color: var(--slate-blue);
                border: 1px solid var(--slate-blue);
                color: var(--white);
                border-radius: 25px;
                padding: 5px 20px;
                font-weight: 600;
                font-size: calc(18 / 16 * 1rem);
            }
        }
    }
}

/* ======================================================================= */
/* ============================= MAIN ==================================== */
/* ======================================================================= */

